Repository zhiqwang/yolov5-rt-stack, pull requests merged in 2022-07, with the labels that each got.

#437 Use `EfficientNMS` plugin in YOLOv6 TensorRT inference
  deployment/tensorrt-yolov6/CMakeLists.txt
  deployment/tensorrt-yolov6/README.md
  deployment/tensorrt-yolov6/main.cpp
  deployment/tensorrt-yolov6/trt_dep.cpp
  deployment/tensorrt-yolov6/trt_dep.hpp
Labels: enhancement, deployment

#438 Use `letterbox` in YOLOv6 TensorRT inference
  deployment/tensorrt-yolov6/main.cpp
Labels: bug / fix, deployment

#439 Fix `BGR2RGB` in preprocessing
  deployment/tensorrt-yolov6/main.cpp
Labels: bug / fix, deployment

#440 Support ONNX exported from YOLOv5 and YOLOv6
  yolort/relay/trt_graphsurgeon.py
  yolort/relay/trt_inference.py
  yolort/runtime/trt_helper.py
Labels: enhancement

#441 Specify the ONNX outputs shape for TensorRT
  yolort/relay/trt_graphsurgeon.py
Labels: bug / fix

#448 Add onnxsim for onnx export and graph surgeon
  requirements.txt
  yolort/relay/trt_graphsurgeon.py
  yolort/runtime/ort_helper.py
  yolort/runtime/trt_helper.py
Labels: enhancement
